*{ box-sizing: border-box; padding: 0; margin: 0; }

#actions{ width: 100%; padding: 20px 4px; text-align: center; }

#actions #alert{ 
  padding: 20px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 20px; 
  font-family: "Inter", sans-serif;
}

#actions .btn-container{ display: flex; justify-content: center; gap: 60px; }

#copy-button {
  background-color: #0a3871;
  color: #d8dfe8;
  transition: scale 0.3s ease-in-out;
  width: 100%;
  display: none;
}

#decryp-button {
  width: 290px;
  background-color: transparent;
  border: solid 1px #0a3871;
  transition: scale 0.3s ease-in-out;
}

#decryp-button:hover, #copy-button:hover{ scale: 0.988; }

.encrypter-container, #header, footer{ background-color: #d8dfe8; }

.encrypter-container{
  height: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

.encrypter-container .left-side{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.encrypter-container .right-side{
  padding: 0px 7px;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  border-radius: 20px;
}

#encryp-button,
#decryp-button,
#copy-button {
  padding: 20px 0px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

#encryp-button {
  width: 290px;
  border: none;
  background-color: #0a3871;
  color: #d8dfe8;
  transition: all 0.3s ease-in-out;
}

#encryp-button:hover { scale: 0.988; filter: brightness(150%); }

footer{ width: 100%; text-align: center; padding: 4px 0px; }

#header{ 
  padding: 8px 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#header img { animation: bright 1.5s ease-in infinite; }

#header h1, footer h2 { 
  font-family: "Gruppo", cursive;
  color: #0a3871; 
  text-align: center; 
  animation: bright 1.5s ease-in infinite; 
}

.left-side #user-text{ 
  width: 60% !important; 
  height: 300px; 
  border-radius: 20px; 
  border: none;
  background-color: transparent; 
  font-weight: bolder;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  color: #0a3871;
}

.right-side #advice{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.right-side #advice img{ width: 70%; animation: float 10s linear infinite; }

.right-side #advice h2{ 
  font-weight: bolder; 
  font-size: 26px; 
  padding-bottom: 10px; 
  text-align: center;
}

.right-side #advice p{ 
  font-weight: bolder; 
  font-size: 19px; 
  text-align: center; 
  color: rgba(0, 0, 0, 0.562); 
}

.right-side #user-output{ 
  width: 100% !important; 
  height: 300px; 
  display: none;
  border-radius: 20px; 
  border: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  color: #0a3871;
}

#root{ min-height: 100vh; display: grid; grid-template-rows: auto 1fr auto; }

@keyframes float {
  0% { transform: translateY(0px); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(8px); }
  75% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

@keyframes bright {
  0% { filter: brightness(0%); }
  25% { filter: brightness(200%); }
  50% { filter: brightness(100%); }
  75% { filter: brightness(50%); }
  100% { filter: brightness(0%); }
}

@media screen and (max-width: 1200px) {
  body::-webkit-scrollbar{ width: 9px; }
  body::-webkit-scrollbar-thumb{ background-color:#0a3871; border-radius:50px; }
  body::-webkit-scrollbar-thumb:hover{ background-color:#196ace; }

  .encrypter-container{ flex-direction: column; align-items: center; }

  .encrypter-container .left-side { width: 100%; padding-top: 40px; }

  .encrypter-container .right-side{ width: 70%; overflow: hidden; padding: 40px 7px;}

  .left-side #actions .btn-container{ width: 100%; flex-direction: column; align-items: center; gap: 20px; padding-bottom: 60px; }

  .left-side #actions .btn-container #encryp-button,
  .left-side #actions .btn-container #decryp-button{ width: 100%; }

  .right-side #advice img{ width: 40%; }

  .right-side #user-output{ width: 80% !important; }
}

@media screen and (max-width: 600px) {
  .encrypter-container{ padding: 50px 20px; justify-content: space-around; }

  .encrypter-container .right-side{ width: 100%; }

  #header{ padding: 8px 8px; justify-content: center; }

  #header #logo{ display: none; justify-content: center; }

  .left-side{ padding: 30px 0px;}

  .left-side #user-text,
  .right-side #user-output { width: 100% !important; }

  .right-side{ box-shadow: 0px 18px 10px 4px rgba(0, 0, 0, 0.514); }

  .right-side #advice img{ display: none; }
}

@media screen and (max-width: 300px){
  h1, h2, h3, p{ word-break: break-all !important; }

  #actions #alert{ font-size: 12px; padding: 20px 0px; gap: 2px; flex-direction: column; align-items: center; }

  #copy-button, #encryp-button,
  #decryp-button{ font-size: 19px; }

  .encrypter-container{ padding: 50px 8px; height: auto !important; }

  footer{ padding-top: 40px; }

  #header h1,
  footer h2{ font-size: 20px; }

  .right-side{ height: auto !important; }

  .right-side #advice{ width: 100%; }

  .right-side #advice h2{ font-size: 22px; text-align: center; }

  .right-side #advice p{ font-size: 16px; text-align: center; }

  #user-text, #user-output{ font-size: 29px; }
}

@media screen and (max-width: 180px){
  body, #root{ overflow-x: scroll; }

  #header{ padding: 8px 3px; }

  .encrypter-container{ padding: 50px 3px; }

  .right-side #advice h2{ font-size: 20px; }

  #user-text, #user-output{ font-size: 20px !important; }
}